In [2]:
import pandas as pd
import numpy as np

data = pd.read_csv('Suicidios.csv')
df=pd.DataFrame(data)
df.head()

#Exploraci√≥n de datos

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [5]:
df.rename(columns = {' gdp_for_year ($) ':'gdp_for_year'},inplace=True)
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [6]:
df.columns

Index(['country', 'year', 'sex', 'age', 'suicides_no', 'population',
       'suicides/100k pop', 'country-year', 'HDI for year', 'gdp_for_year',
       'gdp_per_capita ($)', 'generation'],
      dtype='object')

In [7]:
df['gdp_for_year']=df['gdp_for_year'].str.replace(',','')

In [8]:
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year,gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,2156624900,796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,2156624900,796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,2156624900,796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,2156624900,796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,2156624900,796,Boomers

In [9]:
df['gdp_for_year']=df.gdp_for_year.astype(int)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
gdp_for_year          27820 non-null int64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

In [11]:
df['country'].value_counts().head(40)

Mauritius            382
Austria              382
Iceland              382
Netherlands          382
United Kingdom       372
United States        372
Singapore            372
Israel               372
Italy                372
Luxembourg           372
Ecuador              372
Republic of Korea    372
Japan                372
Malta                372
Argentina            372
Brazil               372
Greece               372
Belgium              372
Chile                372
Puerto Rico          372
Colombia             372
Mexico               372
Spain                372
Australia            360
Costa Rica           360
Ireland              360
Bulgaria             360
France               360
Guatemala            360
Norway               360
Sweden               358
New Zealand          348
Canada               348
Finland              348
Turkmenistan         348
Uruguay              336
Ukraine              336
Saint Lucia          336
Belize               336
Suriname             336
Name: country, dtype: int64

In [12]:
df['age'].value_counts()

35-54 years    4642
25-34 years    4642
55-74 years    4642
15-24 years    4642
75+ years      4642
5-14 years     4610
Name: age, dtype: int64

In [13]:
df.info()
#No tengo nulos en las columnas que me interesan. LOs n√∫meros est√°n en formato int.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 12 columns):
country               27820 non-null object
year                  27820 non-null int64
sex                   27820 non-null object
age                   27820 non-null object
suicides_no           27820 non-null int64
population            27820 non-null int64
suicides/100k pop     27820 non-null float64
country-year          27820 non-null object
HDI for year          8364 non-null float64
gdp_for_year          27820 non-null int64
gdp_per_capita ($)    27820 non-null int64
generation            27820 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 2.5+ MB

In [14]:
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_for_year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,2.782000e+04,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,4.455810e+11,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,1.453610e+12,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,4.691962e+07,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,8.985353e+09,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,4.811469e+10,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,2.602024e+11,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,1.812071e+13,126352.000000

In [15]:
#LImpieza de datos. 
df.columns = df.columns.str.strip()

In [16]:
df.drop(['population','suicides/100k pop','country-year', 'HDI for year','gdp_per_capita ($)', 'generation'], axis=1, inplace=True)
#df1=df.loc[df.country=='Spain']
#df1df.head()

In [17]:
df.head()

   country  year     sex          age  suicides_no  gdp_for_year
0  Albania  1987    male  15-24 years           21    2156624900
1  Albania  1987    male  35-54 years           16    2156624900
2  Albania  1987  female  15-24 years           14    2156624900
3  Albania  1987    male    75+ years            1    2156624900
4  Albania  1987    male  25-34 years            9    2156624900

In [52]:
# df1=df.loc[df.country=='Spain']
# df1

df1=df.query("country=='Spain' | country=='Germany' | country=='France' | country=='Italy' | country=='Belgium'| country=='Denmark'| country=='Croatia'| country=='Finland'| country=='Slovakia'| country=='Greece'| country=='Austria' | country=='Bulgary'| country=='Slovenia'| country=='Estonia' | country=='Hungary'| country=='Ireland' | country=='Poland'| country=='Portugal' | country=='Netherlands'| country=='Romania'| country=='Sweden'| country=='Czech Republic'")
df1.head(50)

#df1=df.loc[(df['country']=='Spain') & (df['country']=='Albania')]
#df1
#df1=df.loc[df.country=='Spain']
#df1
#df4=df3.loc[(df3['year'] >=2005) & (df3['year'] <=2015)]

      country  year     sex          age  suicides_no  gdp_for_year
1786  Austria  1985    male    75+ years          152   69386774475
1787  Austria  1985    male  55-74 years          355   69386774475
1788  Austria  1985    male  35-54 years          515   69386774475
1789  Austria  1985    male  25-34 years          232   69386774475
1790  Austria  1985  female    75+ years          110   69386774475
1791  Austria  1985    male  15-24 years          207   69386774475
1792  Austria  1985  female  55-74 years          220   69386774475
1793  Austria  1985  female  35-54 years          186   69386774475
1794  Austria  1985  female  25-34 years           56   69386774475
1795  Austria  1985  female  15-24 years           50   69386774475
1796  Austria  1985    male   5-14 years            6   69386774475
1797  Austria  1985  female   5-14 years            2   69386774475
1798  Austria  1986    male    75+ years          173   99036165210
1799  Austria  1986    male  55-74 years          355   99036165210
1800  Austria  1986    male  35-54 years          507   99036165210
1801  Austria  1986    male  25-34 years          272   99036165210
1802  Austria  1986  female    75+ years          110   99036165210
1803  Austria  1986    male  15-24 years          199   99036165210
1804  Austria  1986  female  55-74 years          195   99036165210
1805  Austria  1986  female  35-54 years          182   99036165210
1806  Austria  1986  female  25-34 years           80   99036165210
1807  Austria  1986  female  15-24 years           60   99036165210
1808  Austria  1986    male   5-14 years            5   99036165210
1809  Austria  1986  female   5-14 years            1   99036165210
1810  Austria  1987    male    75+ years          208  124168442860
1811  Austria  1987    male  55-74 years          332  124168442860
1812  Austria  1987    male  35-54 years          471  124168442860
1813  Austria  1987    male  25-34 years          247  124168442860
1814  Austria  1987  female    75+ years          126  124168442860
1815  Austria  1987    male  15-24 years          185  124168442860
1816  Austria  1987  female  55-74 years          230  124168442860
1817  Austria  1987  female  35-54 years          155  124168442860
1818  Austria  1987  female  25-34 years           62  124168442860
1819  Austria  1987  female  15-24 years           49  124168442860
1820  Austria  1987  female   5-14 years            2  124168442860
1821  Austria  1987    male   5-14 years            2  124168442860
1822  Austria  1988    male    75+ years          183  133339397080
1823  Austria  1988    male  55-74 years          309  133339397080
1824  Austria  1988    male  35-54 years          431  133339397080
1825  Austria  1988    male  25-34 years          229  133339397080
1826  Austria  1988  female    75+ years          108  133339397080
1827  Austria  1988    male  15-24 years          168  133339397080
1828  Austria  1988  female  55-74 years          186  133339397080
1829  Austria  1988  female  35-54 years          144  133339397080
1830  Austria  1988  female  25-34 years           61  133339397080
1831  Austria  1988  female  15-24 years           28  133339397080
1832  Austria  1988  female   5-14 years            2  133339397080
1833  Austria  1988    male   5-14 years            2  133339397080
1834  Austria  1989    male    75+ years          166  133105805928
1835  Austria  1989    male  55-74 years          358  133105805928

In [53]:
#INtent√© sacar un multindice pero no fue buena idea. Iterar indice columna no era tan f√°cil.
#df1.set_index(['country', 'year'], inplace=True)
#df1

In [54]:
#df1.loc['Spain', (2006,2007,2008,2009,2010,2011,2012,2013,2014), :]
#df1.loc[('Spain', 2000), :]

In [55]:
# df1.groupby(['country', 'year']).sum()
#NO entiendo por qu√© no lo hace.
#df2 = df1.groupby(['country', 'year']).agg(sum)
#df3 = pd.merge(df1, df2, on=['country', 'year'], how='inner')
#df3.head()

In [56]:

df2=df1.groupby(['country','year', 'gdp_for_year'])['suicides_no'].sum().reset_index()
df3=df2[['country','year','suicides_no','gdp_for_year']]
df3

#suicidios_por_a√±o=[]
#sumatorio=0
##my_dict={}
#for index, row in df1.iterrows():
    #my_dict[row['year']] = my_dict.get(row['year'], 0) + row['suicides_no']
    
    
    
       # sumatorio+=row['suicides_no']
        #suicidios_por_a√±o.insert(index,)
        #suicidios_por_a√±o.append(sum(row['suicides_no']))
#print(my_dict)
    #for y in df1.suicides_no:
      #  
        #    
#print(suicidios_por_a√±o)

     country  year  suicides_no  gdp_for_year
0    Austria  1985         2091   69386774475
1    Austria  1986         2139   99036165210
2    Austria  1987         2069  124168442860
3    Austria  1988         1851  133339397080
4    Austria  1989         1898  133105805928
5    Austria  1990         1825  166463386663
6    Austria  1991         1769  173794177725
7    Austria  1992         1759  195078126346
8    Austria  1993         1704  190379720927
9    Austria  1994         1776  203535242742
10   Austria  1995         1788  241038283063
11   Austria  1996         1779  237250948791
12   Austria  1997         1592  212790348405
13   Austria  1998         1559  218259904402
14   Austria  1999         1555  217185787343
15   Austria  2000         1588  196799778883
16   Austria  2001         1489  197337879195
17   Austria  2002         1553  213377771504
18   Austria  2003         1456  261695778781
19   Austria  2004         1422  300904221505
20   Austria  2005         1399  315974418605
21   Austria  2006         1297  335998557270
22   Austria  2007         1285  388691445387
23   Austria  2008         1267  430294287388
24   Austria  2009         1278  400172297861
25   Austria  2010         1264  391892746545
26   Austria  2011         1288  431120310089
27   Austria  2012         1276  409425234155
28   Austria  2013         1291  430068712972
29   Austria  2014         1314  441885415806
..       ...   ...          ...           ...
543   Sweden  1987         1541  180429286796
544   Sweden  1988         1590  204068257818
545   Sweden  1989         1579  214875344910
546   Sweden  1990         1471  258154283909
547   Sweden  1991         1483  270362531377
548   Sweden  1992         1355  280312318915
549   Sweden  1993         1373  209950792713
550   Sweden  1994         1324  226079963712
551   Sweden  1995         1348  264051981551
552   Sweden  1996         1253  288103936773
553   Sweden  1997         1201  264477727279
554   Sweden  1998         1231  266800462899
555   Sweden  1999         1220  270847937645
556   Sweden  2000         1131  259802012617
557   Sweden  2001         1197  239917320967
558   Sweden  2002         1180  263926220333
559   Sweden  2003         1112  331108912605
560   Sweden  2004         1155  381705425302
561   Sweden  2005         1219  389042298377
562   Sweden  2006         1197  420032121656
563   Sweden  2007         1126  487816328342
564   Sweden  2008         1170  513965650650
565   Sweden  2009         1242  429657033108
566   Sweden  2010         1141  488377689565
567   Sweden  2011         1112  563109663291
568   Sweden  2012         1154  543880647757
569   Sweden  2013         1230  578742001488
570   Sweden  2014         1148  573817719109
571   Sweden  2015         1182  497918109302
572   Sweden  2016         1130  514459972806

[573 rows x 4 columns]

In [59]:
data1 = pd.read_csv('poblacion_mundial.csv')
df5=pd.DataFrame(data1)
df5.head(100)

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,1.014530e+05,1.016690e+05,1.020530e+05,1.025770e+05,1.031870e+05,1.037950e+05,1.043410e+05,1.048220e+05,1.052640e+05,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,2.800433e+07,2.880317e+07,2.970860e+07,3.069696e+07,3.173169e+07,3.275802e+07,3.373649e+07,3.465603e+07,3.553008e+07,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,2.254955e+07,2.336913e+07,2.421856e+07,2.509615e+07,2.599834e+07,2.692047e+07,2.785930e+07,2.881346e+07,2.978419e+07,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2.927519e+06,2.913021e+06,2.905195e+06,2.900401e+06,2.895092e+06,2.889104e+06,2.880703e+06,2.876101e+06,2.873457e+06,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,8.446200e+04,8.444900e+04,8.375100e+04,8.243100e+04,8.078800e+04,7.922300e+04,7.801400e+04,7.728100e+04,7.696500e+04,NaN
5,Arab World,ARB,"Population, total",SP.POP.TOTL,92490932.0,95044497.0,97682294.0,100411076.0,103239902.0,106174988.0,...,3.481451e+08,3.565089e+08,3.648959e+08,3.733070e+08,3.817021e+08,3.900430e+08,3.983050e+08,4.064527e+08,4.144919e+08,NaN
6,United Arab Emirates,ARE,"Population, total",SP.POP.TOTL,92634.0,101078.0,112472.0,125566.0,138529.0,150362.0,...,7.666393e+06,8.270684e+06,8.672475e+06,8.900453e+06,9.006263e+06,9.070867e+06,9.154302e+06,9.269612e+06,9.400145e+06,NaN
7,Argentina,ARG,"Population, total",SP.POP.TOTL,20619075.0,20953077.0,21287682.0,21621840.0,21953929.0,22283390.0,...,4.079941e+07,4.122389e+07,4.165688e+07,4.209674e+07,4.253992e+07,4.298152e+07,4.341776e+07,4.384743e+07,4.427104e+07,NaN
8,Armenia,ARM,"Population, total",SP.POP.TOTL,1874120.0,1941491.0,2009526.0,2077575.0,2144998.0,2211316.0,...,2.888584e+06,2.877311e+06,2.875581e+06,2.881922e+06,2.893509e+06,2.906220e+06,2.916950e+06,2.924816e+06,2.930450e+06,NaN
9,American Samoa,ASM,"Population, total",SP.POP.TOTL,20013.0,20486.0,21117.0,21882.0,22698.0,23520.0,...,5.622700e+04,5.563700e+04,5.532000e+04,5.523000e+04,5.530700e+04,5.543700e+04,5.553700e+04,5.559900e+04,5.564100e+04,NaN
10,Antigua and Barbuda,ATG,"Population, total",SP.POP.TOTL,55339.0,56144.0,57144.0,58294.0,59524.0,60781.0,...,9.358100e+04,9.466100e+04,9.571900e+04,9.677700e+04,9.782400e+04,9.887500e+04,9.992300e+04,1.009630e+05,1.020120e+05,NaN
11,Australia,AUS,"Population, total",SP.POP.TOTL,10276477.0,10483000.0,10742000.0,10950000.0,11167000.0,11388000.0,...,2.169170e+07,2.203175e+07,2.234002e+07,2.273346e+07,2.312813e+07,2.347569e+07,2.381600e+07,2.419091e+07,2.460186e+07,NaN
12,Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,...,8.343323e+06,8.363404e+06,8.391643e+06,8.429991e+06,8.479823e+06,8.546356e+06,8.642699e+06,8.736668e+06,8.797566e+06,NaN
13,Azerbaijan,AZE,"Population, total",SP.POP.TOTL,3895396.0,4030320.0,4171425.0,4315128.0,4456689.0,4592610.0,...,8.947243e+06,9.054332e+06,9.173082e+06,9.295784e+06,9.416801e+06,9.535079e+06,9.649341e+06,9.757812e+06,9.854033e+06,NaN
14,Burundi,BDI,"Population, total",SP.POP.TOTL,2786106.0,2839666.0,2893669.0,2949926.0,3010859.0,3077876.0,...,8.489031e+06,8.766930e+06,9.043508e+06,9.319710e+06,9.600186e+06,9.891790e+06,1.019927e+07,1.052412e+07,1.086424e+07,NaN
15,Belgium,BEL,"Population, total",SP.POP.TOTL,9153489.0,9183948.0,9220578.0,9289770.0,9378113.0,9463667.0,...,1.079649e+07,1.089559e+07,1.103826e+07,1.110693e+07,1.115941e+07,1.120906e+07,1.127420e+07,1.133142e+07,1.138239e+07,NaN
16,Benin,BEN,"Population, total",SP.POP.TOTL,2431622.0,2465867.0,2502896.0,2542859.0,2585965.0,2632356.0,...,8.944706e+06,9.199259e+06,9.460802e+06,9.729160e+06,1.000445e+07,1.028671e+07,1.057595e+07,1.087230e+07,1.117569e+07,NaN
17,Burkina Faso,BFA,"Population, total",SP.POP.TOTL,4829288.0,4894580.0,4960326.0,5027821.0,5098890.0,5174870.0,...,1.514110e+07,1.560522e+07,1.608190e+07,1.657122e+07,1.707272e+07,1.758598e+07,1.811062e+07,1.864643e+07,1.919338e+07,NaN
18,Bangladesh,BGD,"Population, total",SP.POP.TOTL,48199747.0,49592802.0,51030137.0,52532417.0,54129100.0,55834038.0,...,1.504547e+08,1.521491e+08,1.539119e+08,1.557271e+08,1.575713e+08,1.594053e+08,1.612009e+08,1.629516e+08,1.646698e+08,NaN
19,Bulgaria,BGR,"Population, total",SP.POP.TOTL,7867374.0,7943118.0,8012946.0,8078145.0,8144340.0,8204168.0,...,7.444443e+06,7.395599e+06,7.348328e+06,7.305888e+06,7.265115e+06,7.223938e+06,7.177991e+06,7.127822e+06,7.075947e+06,NaN
20,Bahrain,BHR,"Population, total",SP.POP.TOTL,162427.0,167894.0,173144.0,178140.0,182887.0,187431.0,...,1.185029e+06,1.240862e+06,1.278269e+06,1.300217e+06,1.315411e+06,1.336397e+06,1.371855e+06,1.425171e+06,1.492584e+06,NaN
21,"Bahamas, The",BHS,"Population, total",SP.POP.TOTL,109528.0,115108.0,121083.0,127333.0,133698.0,140054.0,...,3.548560e+05,3.608320e+05,3.665680e+05,3.720390e+05,3.772400e+05,3.821690e+05,3.868380e+05,3.912320e+05,3.953610e+05,NaN
22,Bosnia and Herzegovina,BIH,"Population, total",SP.POP.TOTL,3225668.0,3288602.0,3353226.0,3417574.0,3478995.0,3535640.0,...,3.746561e+06,3.722084e+06,3.688865e+06,3.648200e+06,3.604999e+06,3.566002e+06,3.535961e+06,3.516816e+06,3.507017e+06,NaN
23,Belarus,BLR,"Population, total",SP.POP.TOTL,8198000.0,8271216.0,8351928.0,8437232.0,8524224.0,8610000.0,...,9.506765e+06,9.490583e+06,9.473172e+06,9.464495e+06,9.465997e+06,9.474511e+06,9.489616e+06,9.501534e+06,9.498264e+06,NaN
24,Belize,BLZ,"Population, total",SP.POP.TOTL,92064.0,94703.0,97384.0,100164.0,103069.0,106119.0,...,3.139290e+05,3.216080e+05,3.291920e+05,3.367010e+05,3.441810e+05,3.516940e+05,3.592880e+05,3.669540e+05,3.746810e+05,NaN
25,Bermuda,BMU,"Population, total",SP.POP.TOTL,44400.0,45500.0,46600.0,47700.0,48900.0,50100.0,...,6.563600e+04,6.512400e+04,6.456400e+04,6.479800e+04,6.500100e+04,6.513900e+04,6.523900e+04,6.534100e+04,6.544100e+04,NaN
26,Bolivia,BOL,"Population, total",SP.POP.TOTL,3693449.0,3764813.0,3838097.0,3913395.0,3990857.0,4070590.0,...,9.758748e+06,9.918242e+06,1.007834e+07,1.023900e+07,1.040026e+07,1.056216e+07,1.072470e+07,1.088788e+07,1.105160e+07,NaN
27,Brazil,BRA,"Population, total",SP.POP.TOTL,72207554.0,74351763.0,76573248.0,78854019.0,81168654.0,83498020.0,...,1.948960e+08,1.967963e+08,1.986867e+08,2.005610e+08,2.024086e+08,2.042131e+08,2.059621e+08,2.076529e+08,2.092883e+08,NaN
28,Barbados,BRB,"Population, total",SP.POP.TOTL,230939.0,231678.0,232586.0,233587.0,234547.0,235374.0,...,2.784700e+05,2.795690e+05,2.806010e+05,2.815850e+05,2.825090e+05,2.833850e+05,2.842170e+05,2.849960e+05,2.857190e+05,NaN
29,Brunei Darussalam,BRN,"Population, total",SP.POP.TOTL,81745.0,85596.0,89516.0,93576.0,97848.0,102425.0,...,3.837720e+05,3.886620e+05,3.940130e+05,3.997480e+05,4.057160e+05,4.117040e+05,4.175420e+05,4.231960e+05,4.286970e+05,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,Ethiopia,ETH,"Population, total",SP.POP.TOTL,22151278.0,22671190.0,23221389.0,23798429.0,24397024.0,25013626.0,...,8.541625e+07,8.770267e+07,9.004676e+07,9.244418e+07,9.488772e+07,9.736677e+07,9.987303e+07,1.024032e+08,1.049574e+08,NaN
71,European Union,EUU,"Population, total",SP.POP.TOTL,409498644.0,413002626.0,416665245.0,420387560.0,424069054.0,427586528.0,...,5.031941e+08,5.042988e+08,5.040059e+08,5.050962e+08,5.065977e+08,5.081939e+08,5.097176e+08,5.112185e+08,5.124310e+08,NaN
72,Fragile and conflict affected situations,FCS,"Population, total",SP.POP.TOTL,119967877.0,122738548.0,125620594.0,128621853.0,131764369.0,135063791.0,...,4.230286e+08,4.333888e+08,4.439183e+08,4.546189e+08,4.655154e+08,4.766081e+08,4.879236e+08,4.995085e+08,5.113366e+08,NaN
73,Finland,FIN,"Population, total",SP.POP.TOTL,4429634.0,4461005.0,4491443.0,4523309.0,4548543.0,4563732.0,...,5.338871e+06,5.363352e+06,5.388272e+06,5.413971e+06,5.438972e+06,5.461512e+06,5.479531e+06,5.495303e+06,5.508214e+06,NaN
74,Fiji,FJI,"Population, total",SP.POP.TOTL,393386.0,407156.0,421577.0,436208.0,450450.0,463883.0,...,8.519670e+05,8.599500e+05,8.670860e+05,8.735960e+05,8.797150e+05,8.858060e+05,8.921490e+05,8.987600e+05,9.055020e+05,NaN
75,France,FRA,"Population, total",SP.POP.TOTL,46814237.0,47444751.0,48119649.0,48803680.0,49449403.0,50023774.0,...,6.470704e+07,6.502751e+07,6.534278e+07,6.565979e+07,6.599866e+07,6.631609e+07,6.659337e+07,6.685977e+07,6.710551e+07,NaN
76,Faroe Islands,FRO,"Population, total",SP.POP.TOTL,34661.0,35115.0,35570.0,36014.0,36454.0,36900.0,...,4.851700e+04,4.855000e+04,4.860800e+04,4.866600e+04,4.874700e+04,4.884200e+04,4.896500e+04,4.911700e+04,4.929000e+04,NaN
77,"Micronesia, Fed. Sts.",FSM,"Population, total",SP.POP.TOTL,44537.0,45955.0,47388.0,48876.0,50487.0,52242.0,...,1.039600e+05,1.036160e+05,1.034680e+05,1.035030e+05,1.037020e+05,1.040150e+05,1.044330e+05,1.049370e+05,1.055440e+05,NaN
78,Gabon,GAB,"Population, total",SP.POP.TOTL,499184.0,504167.0,509806.0,516265.0,523789.0,532511.0,...,1.586754e+06,1.640210e+06,1.697101e+06,1.756817e+06,1.817271e+06,1.875713e+06,1.930175e+06,1.979786e+06,2.025137e+06,NaN
79,United Kingdom,GBR,"Population, total",SP.POP.TOTL,52400000.0,52800000.0,53250000.0,53650000.0,54000000.0,54348050.0,...,6.227627e+07,6.276636e+07,6.325892e+07,6.370030e+07,6.412823e+07,6.461316e+07,6.512886e+07,6.559556e+07,6.602329e+07,NaN
80,Georgia,GEO,"Population, total",SP.POP.TOTL,3645600.0,3703600.0,3760300.0,3816100.0,3870300.0,3921600.0,...,3.814419e+06,3.786695e+06,3.756441e+06,3.728874e+06,3.717668e+06,3.719414e+06,3.725276e+06,3.727505e+06,3.728004e+06,NaN
81,Ghana,GHA,"Population, total",SP.POP.TOTL,6652287.0,6866539.0,7085464.0,7303432.0,7513289.0,7710549.0,...,2.390383e+07,2.451210e+07,2.512180e+07,2.573305e+07,2.634625e+07,2.696256e+07,2.758282e+07,2.820673e+07,2.883363e+07,NaN
82,Gibraltar,GIB,"Population, total",SP.POP.TOTL,23394.0,23786.0,24284.0,24848.0,25454.0,26041.0,...,3.295600e+04,3.318900e+04,3.340500e+04,3.362300e+04,3.383100e+04,3.403800e+04,3.422800e+04,3.440800e+04,3.457100e+04,NaN
83,Guinea,GIN,"Population, total",SP.POP.TOTL,3577409.0,3633652.0,3690664.0,3749505.0,3811659.0,3877806.0,...,1.055652e+07,1.079417e+07,1.103517e+07,1.128147e+07,1.153662e+07,1.180551e+07,1.209153e+07,1.239592e+07,1.271718e+07,NaN
84,"Gambia, The",GMB,"Population, total",SP.POP.TOTL,367928.0,376737.0,383523.0,389072.0,394553.0,400861.0,...,1.639560e+06,1.692149e+06,1.746363e+06,1.802125e+06,1.859324e+06,1.917852e+06,1.977590e+06,2.038501e+06,2.100568e+06,NaN
85,Guinea-Bissau,GNB,"Population, total",SP.POP.TOTL,616409.0,623415.0,629969.0,636586.0,643961.0,652562.0,...,1.517448e+06,1.555880e+06,1.596154e+06,1.638139e+06,1.681495e+06,1.725744e+06,1.770526e+06,1.815698e+06,1.861283e+06,NaN
86,Equatorial Guinea,GNQ,"Population, total",SP.POP.TOTL,255323.0,258947.0,262590.0,266598.0,271457.0,277396.0,...,9.091110e+05,9.511040e+05,9.942900e+05,1.038593e+06,1.083746e+06,1.129424e+06,1.175389e+06,1.221490e+06,1.267689e+06,NaN
87,Greece,GRC,"Population, total",SP.POP.TOTL,8331725.0,8398050.0,8448233.0,8479625.0,8510429.0,8550333.0,...,1.110702e+07,1.112134e+07,1.110490e+07,1.104501e+07,1.096521e+07,1.089241e+07,1.082088e+07,1.077597e+07,1.075353e+07,NaN
88,Grenada,GRD,"Population, total",SP.POP.TOTL,89869.0,91260.0,92425.0,93350.0,94066.0,94581.0,...,1.042960e+05,1.046770e+05,1.050750e+05,1.054810e+05,1.059090e+05,1.063600e+05,1.068230e+05,1.073170e+05,1.078250e+05,NaN
89,Greenland,GRL,"Population, total",SP.POP.TOTL,32500.0,33700.0,35000.0,36400.0,37600.0,39200.0,...,5.632300e+04,5.690500e+04,5.689000e+04,5.681000e+04,5.648300e+04,5.629500e+04,5.611400e+04,5.618600e+04,5.617100e+04,NaN
90,Guatemala,GTM,"Population, total",SP.POP.TOTL,4210747.0,4336143.0,4464249.0,4595510.0,4730540.0,4869716.0,...,1.431621e+07,1.463042e+07,1.494892e+07,1.527106e+07,1.559621e+07,1.592356e+07,1.625243e+07,1.658247e+07,1.691350e+07,NaN
91,Guam,GUM,"Population, total",SP.POP.TOTL,66742.0,68072.0,69604.0,71286.0,73051.0,74830.0,...,1.592310e+05,1.594440e+05,1.596780e+05,1.599730e+05,1.603750e+05,1.609670e+05,1.617970e+05,1.628960e+05,1.642290e+05,NaN
92,Guyana,GUY,"Population, total",SP.POP.TOTL,571819.0,589274.0,606285.0,622575.0,637845.0,651868.0,...,7.456930e+05,7.465560e+05,7.491000e+05,7.530910e+05,7.580810e+05,7.633930e+05,7.685140e+05,7.733030e+05,7.778590e+05,NaN
93,High income,HIC,"Population, total",SP.POP.TOTL,780591817.0,792293287.0,802654521.0,812944684.0,823135718.0,832953335.0,...,1.190658e+09,1.198653e+09,1.204558e+09,1.211908e+09,1.219339e+09,1.226947e+09,1.234380e+09,1.241783e+09,1.248439e+09,NaN
94,"Hong Kong SAR, China",HKG,"Population, total",SP.POP.TOTL,3075605.0,3168100.0,3305200.0,3420900.0,3504600.0,3597900.0,...,6.972800e+06,7.024200e+06,7.071600e+06,7.150100e+06,7.178900e+06,7.229500e+06,7.291300e+06,7.336600e+06,7.391700e+06,NaN
95,Honduras,HND,"Population, total",SP.POP.TOTL,2038637.0,2096407.0,2155652.0,2216707.0,2280045.0,2346010.0,...,8.035021e+06,8.194778e+06,8.351600e+06,8.505646e+06,8.657785e+06,8.809216e+06,8.960829e+06,9.112867e+06,9.265067e+06,NaN
96,Heavily indebted poor countries (HIPC),HPC,"Population, total",SP.POP.TOTL,162495580.0,166348536.0,170348129.0,174502178.0,178820615.0,183311108.0,...,6.127315e+08,6.301274e+08,6.480533e+08,6.664886e+08,6.854020e+08,7.047454e+08,7.244827e+08,7.446030e+08,7.651123e+08,NaN
97,Croatia,HRV,"Population, total",SP.POP.TOTL,4140181.0,4167292.0,4196712.0,4225675.0,4252876.0,4280923.0,...,4.305181e+06,4.295427e+06,4.280622e+06,4.267558e+06,4.255689e+06,4.238389e+06,4.203604e+06,4.174349e+06,4.124531e+06,NaN
98,Haiti,HTI,"Population, total",SP.POP.TOTL,3866159.0,3943364.0,4022593.0,4103730.0,4186640.0,4271133.0,...,9.852870e+06,9.999617e+06,1.014505e+07,1.028921e+07,1.043178e+07,1.057247e+07,1.071106e+07,1.084733e+07,1.098123e+07,NaN
99,Hungary,HUN,"Population, total",SP.POP.TOTL,9983967.0,10029321.0,10061734.0,10087947.0,10119835.0,10147935.0,...,1.002265e+07,1.000002e+07,9.971727e+06,9.920362e+06,9.893082e+06,9.866468e+06,9.843028e+06,9.814023e+06,9.787966e+06,NaN

In [63]:
df5.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018'],
      dtype='object')

In [65]:
df5.rename(columns = {'Country Name':'Country'},inplace=True)
df5.head()

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Aruba,ABW,"Population, total",SP.POP.TOTL,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,...,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0,NaN
1,Afghanistan,AFG,"Population, total",SP.POP.TOTL,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,...,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0,NaN
2,Angola,AGO,"Population, total",SP.POP.TOTL,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,...,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0,NaN
3,Albania,ALB,"Population, total",SP.POP.TOTL,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,...,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0,NaN
4,Andorra,AND,"Population, total",SP.POP.TOTL,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,...,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0,NaN

In [66]:
df6=df5.query("Country=='Spain' | Country=='Germany' | Country=='France' | Country=='Italy' | Country=='Belgium'| Country=='Denmark'| Country=='Croatia'| Country=='Finland'| Country=='Slovakia'| Country=='Greece'| Country=='Austria' | Country=='Bulgary'| Country=='Slovenia'| Country=='Estonia' | Country=='Hungary'| Country=='Ireland' | Country=='Poland'| Country=='Portugal' | Country=='Netherlands'| Country=='Romania'| Country=='Sweden'| Country=='Czech Republic'")
df6

,Country,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
12,Austria,AUT,"Population, total",SP.POP.TOTL,7047539.0,7086299.0,7129864.0,7175811.0,7223801.0,7270889.0,...,8343323.0,8363404.0,8391643.0,8429991.0,8479823.0,8546356.0,8642699.0,8736668.0,8797566.0,NaN
15,Belgium,BEL,"Population, total",SP.POP.TOTL,9153489.0,9183948.0,9220578.0,9289770.0,9378113.0,9463667.0,...,10796493.0,10895586.0,11038264.0,11106932.0,11159407.0,11209057.0,11274196.0,11331422.0,11382393.0,NaN
52,Czech Republic,CZE,"Population, total",SP.POP.TOTL,9602006.0,9586651.0,9624660.0,9670685.0,9727804.0,9779358.0,...,10443936.0,10474410.0,10496088.0,10510785.0,10514272.0,10525347.0,10546059.0,10566332.0,10594438.0,NaN
53,Germany,DEU,"Population, total",SP.POP.TOTL,72814900.0,73377632.0,74025784.0,74714353.0,75318337.0,75963695.0,...,81902307.0,81776930.0,80274983.0,80425823.0,80645605.0,80982500.0,81686611.0,82348669.0,82685827.0,NaN
56,Denmark,DNK,"Population, total",SP.POP.TOTL,4579603.0,4611687.0,4647727.0,4684483.0,4722072.0,4759012.0,...,5523095.0,5547683.0,5570572.0,5591572.0,5614932.0,5643475.0,5683483.0,5728010.0,5764980.0,NaN
68,Spain,ESP,"Population, total",SP.POP.TOTL,30455000.0,30739250.0,31023366.0,31296651.0,31609195.0,31954292.0,...,46362946.0,46576897.0,46742697.0,46773055.0,46620045.0,46480882.0,46444832.0,46483569.0,46593171.0,NaN
69,Estonia,EST,"Population, total",SP.POP.TOTL,1211537.0,1225077.0,1241623.0,1258857.0,1277086.0,1294566.0,...,1334515.0,1331475.0,1327439.0,1322696.0,1317997.0,1314545.0,1315407.0,1315790.0,1317384.0,NaN
73,Finland,FIN,"Population, total",SP.POP.TOTL,4429634.0,4461005.0,4491443.0,4523309.0,4548543.0,4563732.0,...,5338871.0,5363352.0,5388272.0,5413971.0,5438972.0,5461512.0,5479531.0,5495303.0,5508214.0,NaN
75,France,FRA,"Population, total",SP.POP.TOTL,46814237.0,47444751.0,48119649.0,48803680.0,49449403.0,50023774.0,...,64707044.0,65027507.0,65342775.0,65659789.0,65998660.0,66316092.0,66593366.0,66859768.0,67105513.0,NaN
87,Greece,GRC,"Population, total",SP.POP.TOTL,8331725.0,8398050.0,8448233.0,8479625.0,8510429.0,8550333.0,...,11107017.0,11121341.0,11104899.0,11045011.0,10965211.0,10892413.0,10820883.0,10775971.0,10753531.0,NaN
97,Croatia,HRV,"Population, total",SP.POP.TOTL,4140181.0,4167292.0,4196712.0,4225675.0,4252876.0,4280923.0,...,4305181.0,4295427.0,4280622.0,4267558.0,4255689.0,4238389.0,4203604.0,4174349.0,4124531.0,NaN
99,Hungary,HUN,"Population, total",SP.POP.TOTL,9983967.0,10029321.0,10061734.0,10087947.0,10119835.0,10147935.0,...,10022650.0,10000023.0,9971727.0,9920362.0,9893082.0,9866468.0,9843028.0,9814023.0,9787966.0,NaN
109,Ireland,IRL,"Population, total",SP.POP.TOTL,2828600.0,2824400.0,2836050.0,2852650.0,2866550.0,2877300.0,...,4535375.0,4560155.0,4580084.0,4599533.0,4623816.0,4657740.0,4701957.0,4755335.0,4811321.0,NaN
114,Italy,ITA,"Population, total",SP.POP.TOTL,50199700.0,50536350.0,50879450.0,51252000.0,51675350.0,52112350.0,...,59095365.0,59277417.0,59379449.0,59539717.0,60233948.0,60789140.0,60730582.0,60627498.0,60536709.0,NaN
174,Netherlands,NLD,"Population, total",SP.POP.TOTL,11486631.0,11638712.0,11805689.0,11965966.0,12127120.0,12294732.0,...,16530388.0,16615394.0,16693074.0,16754962.0,16804432.0,16865008.0,16939923.0,17030314.0,17131296.0,NaN
188,Poland,POL,"Population, total",SP.POP.TOTL,29637450.0,29964000.0,30308500.0,30712000.0,31139450.0,31444950.0,...,38151603.0,38042794.0,38063255.0,38063164.0,38040196.0,38011735.0,37986412.0,37970087.0,37974826.0,NaN
192,Portugal,PRT,"Population, total",SP.POP.TOTL,8857716.0,8929316.0,8993985.0,9030355.0,9035365.0,8998595.0,...,10568247.0,10573100.0,10557560.0,10514844.0,10457295.0,10401062.0,10358076.0,10325452.0,10300300.0,NaN
199,Romania,ROU,"Population, total",SP.POP.TOTL,18406905.0,18555250.0,18676550.0,18797850.0,18919126.0,19031576.0,...,20367487.0,20246871.0,20147528.0,20058035.0,19983693.0,19908979.0,19815481.0,19702332.0,19583986.0,NaN
220,Slovenia,SVN,"Population, total",SP.POP.TOTL,1584720.0,1594131.0,1603649.0,1616971.0,1632114.0,1649160.0,...,2039669.0,2048583.0,2052843.0,2057159.0,2059953.0,2061980.0,2063531.0,2065042.0,2066388.0,NaN
221,Sweden,SWE,"Population, total",SP.POP.TOTL,7484656.0,7519998.0,7561588.0,7604328.0,7661354.0,7733853.0,...,9298515.0,9378126.0,9449213.0,9519374.0,9600379.0,9696110.0,9799186.0,9923085.0,10057698.0,NaN